.idea
.ipynb_checkpoints/
Untitled.ipynb

venv/
vevn/
markov/models/*.json
migrations/
instance
notebooks/.ipynb_checkpoints
notebooks/training_data
notebooks/NGrammMarkov2.0.ipynb
notebooks/mnogogramm.ipynb
__pycache__

users.db
*.pyc
*.db
*.json
*.csv
*.doc
*.docx
*.pdf
