body {
  background-color: #222;
}

.jumbotron {
    background-color: #343a40;
    color: white;
    padding-top: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 2vh;
}

.header{
    /*background-image: url('../images/background.jpg');*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header > div {
    margin-top: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
}

.phrase-container {
    position: absolute;
    color: white;
}

.btn-secondary {
 border:1px  solid #222;
 background: #222;
 color: #fff;
}

.output {
    position: center;
    padding-top: 2vh;
    text-align: center;
    color: white;
}

.hide-element {
    display: none;
}

@media (min-width: 768px) {
  .dropdown-menu-right {
    right: 0;
    left: auto;
  }
}

.login-form {
    margin-top: 10vh;
    color: white;
}

.card {
    background-color: #343a40;
}
