body {
  background-color: #222;
}

.jumbotron {
    background-color: #343a40;
    color: white;
}

.header{
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 95vh;
}

.header > div {
    padding-top: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

.phrase-container {
    position: absolute;
    margin-top: 20vh;
    color: white;
}

.btn-secondary {
 border:1px  solid #222;
 background:#343a40;
 color:#fff;
}

.output {
    position: center;
    padding-top: 2vh;
    text-align: center;
    color: white;
}

.hide-element {
    display: none;
}