<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>

  <title>{{ title }}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/scroller.css') }}">

  <script src="{{ url_for('static', filename='js/table.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modal-window.js') }}"></script>

</head>

<body>

      <div class="navbar navbar-dark bg-dark shadow-sm fixed-top">
      <div class="d-flex justify-content-between">
        <a href="" class="navbar-brand d-flex align-items-center">
          <img src="{{ url_for('static', filename='images/icon.png') }}" width="20" height="20" class="mr-2">
          <strong>Генератор определений</strong>
        </a>
      </div>
      <div class="d-flex justify-content-between">
        <a href="" class="navbar-brand d-flex align-items-center"></a>
        <a href="" class="navbar-brand d-flex align-items-center"></a>
      </div>
    </div>
    <header class="header">
  <div class="container">
    <div class="phrase-container">
      <h3>Когда-нибудь это заработает</h3>
      <p>А пока просто вбейте фразу и количество образцов</p>
      <form action="{{ url_for('api') }}" id="form" method="post">
      {{ form.hidden_tag() }}
      {{ form.phrase.label }}
      {{ form.phrase(class="form-control") }}<br>
      {{ form.samples_count.label }}
      {{ form.samples_count(class="form-control") }}<br>
      {{ form.submit(class="btn btn-secondary", onclick="document.getElementById('loading-container').style.display =''") }}
  </form>
    </div>
  </div>
</header>

  <div class="container">

        {% block content %}
            
        {% endblock content %}

  </div>
  <!-- /#wrapper -->

<div id="loading-container">
  <div id="loading-div">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
  <div id="overlay"></div>
</div>

<script type="text/javascript">
  document.getElementById("loading-container").style.display = "none";
</script>
</body>

</html>
