{% extends "base.html" %}

{% block navbar %}
    <a href="" class="navbar-brand d-flex align-items-center" data-toggle="modal" data-target="#newDocModal">
        <img src='{{ add_icon() }}'>&nbsp;Add doc
    </a>
{% endblock navbar %}

{% block content %}

<header class="header">
    <div class='jumbotron'>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-light" role="alert" title="Click to close alert" onclick='this.style.display = "none"'>
            {{ message }}
        </div>
        {% endfor %}
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Created</th>
                <th scope="col">Last update</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for doc in documents %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ doc.title }}</td>
                <td>{{ doc.created.strftime('%d.%m.%Y %H:%M') }}</td>
                <td>{{ doc.last_update .strftime('%d.%m.%Y %H:%M')}}</td>
                <td><a href="{{ url_for('document', document_id=doc.id) }}" type="button" class="btn btn-light btn-sm"
                       onclick="document.getElementById('loading-container').style.display = ''">Edit »</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</header>


<div id="newDocModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridModalLabel">New document</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post">
                {{ doc_form.hidden_tag() }}
                <div class="modal-body">
                    <div class="container-fluid bd-example-row">
                        <div class="col">
                            {{ doc_form.title.label }}<br>
                            {{ doc_form.title(size=20, class="form-control") }}<br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ doc_form.submit(class="btn btn-light",
                    onclick="document.getElementById('loading-container').style.display = ''") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}