{% extends "base.html" %}

{% block navbar %}

<div class="d-flex justify-content-between">
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand d-flex align-items-center" href="" id="navbarDropdownMenuLink"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src='{{ user_icon() }}'>&nbsp;<strong>{{ current_user.username }}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('index') }}">My docs</a>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
</div>
{% endblock navbar %}


{% block content %}

<div class="generator-container">
    <div class="">
        <div class="jumbotron">
            <div class="form-group">
                <label for="phraseInput">Phrase</label>
                <input type="text" class="form-control" id="phraseInput" placeholder="Enter phrase">
            </div>
            <div class="form-group">
                <label for="samplesNum">Samples number</label>
                <input type="number" class="form-control" id="samplesNum" value="1" min=1>
            </div>
            <div class="form-group">
                <label for="modelSelect">Select model</label>
                <select class="form-control" id="modelSelect">
                    {% for model in models %}
                    <option value="{{ model.id }}">{{ model.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-light" onclick='generateSamples(generatorAPIRef)'>Generate</button>
        </div>
    </div>
    <div class="">
        <h3 id="outputH3" class="output">Output</h3>
        <br>
        <div id="outputDiv"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/generator.js') }}"></script>
<script>
    const generatorAPIRef = "{{ url_for('gen_api') }}";
    outputH3.style.display = 'none';
</script>
{% endblock %}
