{% extends "base.html" %}

{% block navbar %}
{% endblock navbar %}


{% block content %}

<div class="generator-container">
    <div class="">
        <div class="jumbotron">
            <div class="form-group">
                <label for="phraseInput">Phrase</label>
                <input type="text" class="form-control" id="phraseInput" placeholder="Enter phrase">
            </div>
            <div class="form-group">
                <label for="samplesNum">Samples number</label>
                <input type="number" class="form-control" id="samplesNum" value="1" min=1>
            </div>
            <div class="form-group">
                <label for="modelSelect">Select model</label>
                <select class="form-control" id="modelSelect">
                    {% for model in models %}
                    <option value="{{ model.id }}">{{ model.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-light" onclick='generateSamples(generatorAPIRef)'>Generate</button>
        </div>
    </div>
    <div class="">
        <h3 id="outputH3" class="output">Output</h3>
        <br>
        <div id="outputDiv"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/generator.js') }}"></script>
<script>
    const generatorAPIRef = "{{ url_for('gen_api') }}";
    outputH3.style.display = 'none';
</script>
{% endblock %}
