{% extends "base.html" %}

{% block navbar %}

<div class="d-flex justify-content-between">
    <a href="" class="navbar-brand d-flex align-items-center" data-toggle="modal" onclick="fillAddModal()" data-target="#addModelModal">
        <img src='{{ add_icon() }}'>&nbsp;Add model
    </a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbar-brand d-flex align-items-center" href="" id="navbarDropdownMenuLink"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src='{{ user_icon() }}'>&nbsp;<strong>{{ current_user.username }}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('index') }}">My docs</a>
            <a class="dropdown-item" href="{{ url_for('models') }}">Models</a>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
</div>
{% endblock navbar %}

{% block content %}

<header class="header">
    <div class='jumbotron'>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-light" role="alert" title="Click to close alert" onclick='this.style.display = "none"'>
            {{ message }}
        </div>
        {% endfor %}
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th scope="col">Action</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Index name</th>
                <th scope="col">Sentences in index</th>
                <th scope="col">Size</th>
            </tr>
            </thead>
            <tbody id="modelsTBody"></tbody>
        </table>
    </div>
</header>

<div id="addModelModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addModelModalTitle"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="container-fluid bd-example-row">
                        <div class="col">
                            {{ model_form.name.label }}<br>
                            {{ model_form.name(size=20, class="form-control") }}
                        </div>
                        <div id="retrainDiv" class="col">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="retrainModel">
                              <label class="form-check-label" for="retrainModel" id="retrainModelLabel">
                                Retrain
                              </label>
                            </div>
                        </div>
                        <br>
                        <div id="retrainOptionsDiv">
                            <div class="col">
                                <label>Train data</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="dataSourceOptionSelect">Data source</label>
                                    </div>
                                    <select class="custom-select" id="dataSourceOptionSelect" name="data_source"
                                            onchange="dataSourceChange()">
                                        <option value="file" selected>Single text file</option>
                                        <option value="folder">Folder with text files</option>
                                        <option value="postgres">PostgreSQL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col" id='fileOption'>
                                <label>Text corpus file</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input id="trainFile" type="file" name='train_file' class="custom-file-input" id="trainTextFile"
                                               aria-describedby="trainTextFile" onchange="setFileLabel()">
                                        <label id="fileLabel" class="custom-file-label" for="trainTextFile">Choose
                                            file</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col" id='folderOption'>
                                <label>Folder with text files</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input id="trainFiles" type="file" class="custom-file-input" name='train_files' onchange="selectFolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
                                        <input type="hidden" name="files_names" id="filesNames" value="">
                                        <label id="fileLabel" class="custom-file-label" for="trainTextFile">Choose folder</label>
                                    </div>
                                </div>
                                <p id="selectedFiles"></p>
                            </div>
                            <div class="col" id='pgOption'>
                                <label for="pgHost">Host</label>
                                <input type="text" aria-label="Host" id="pgHost" class="form-control"
                                       value="localhost"><br>
                                <label for="pgPort">Port</label>
                                <input type="number" aria-label="Port" id="pgPort" class="form-control"
                                       value="5432" min="1" , max="65535"><br>
                                <label for="pgDBName">DN name</label>
                                <input type="text" aria-label="DB" id="pgDBName" class="form-control"
                                       value="postgres"><br>
                                <label for="pgUser">User</label>
                                <input type="text" aria-label="User" id="pgUser" class="form-control"
                                       value="postgres"><br>
                                <label for="pgPassword">Password</label>
                                <input type="password" aria-label="Password" id="pgPassword" class="form-control" value="postgres"><br>
                                <label for="queryTextarea" id="queryTextarea">SQL query</label>
                                <textarea class="form-control" rows='2' id="pgQuery" 
                                          placeholder="SELECT text statement">SELECT text &#13;&#10;  FROM tabel_name</textarea>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="addModelButton" type="button" class="btn btn-light" data-dismiss="modal">Add</button>
                </div>
        </div>
    </div>
</div>

<div id="deleteModelModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridModalLabel">Delete model</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id='pDelete'></p>
                <input type="hidden" id="idModelDelete" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteModelButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/models.js') }}"></script>
<script type="text/javascript">
    const modelsApiUrl = "{{ url_for('models_api', model_id='model_id') }}";
    const iconUrls = {
        delete: "{{ delete_icon() }}",
        update: "{{ update_icon() }}"
    }

    document.getElementById('addModelButton').onclick = () => {
        document.getElementById('loading-container').style.display = '';
        $('#addModelModal').hide();
    };

    const dataSource = document.getElementById("dataSourceOptionSelect");
    const fileOptionDiv = document.getElementById("fileOption");
    const folderOptionDiv = document.getElementById("folderOption");

    const pgOptionDiv = document.getElementById("pgOption");
    const fileLabel = document.getElementById('fileLabel');
    const trainFile = document.getElementById('trainFile');

    folderOptionDiv.style.display = 'none';
    pgOptionDiv.style.display = 'none';

    const dataSourceChange = () => {
        if (dataSource.selectedIndex === 0) {
            fileOptionDiv.style.display = '';
            folderOptionDiv.style.display = 'none';
            pgOptionDiv.style.display = 'none';
        } else if (dataSource.selectedIndex === 1) {
            fileOptionDiv.style.display = 'none';
            folderOptionDiv.style.display = '';
            pgOptionDiv.style.display = 'none';
        } else if (dataSource.selectedIndex === 2) {
            fileOptionDiv.style.display = 'none';
            folderOptionDiv.style.display = 'none';
            pgOptionDiv.style.display = '';
        }
    };

    const setFileLabel = () => {
        fileLabel.innerText = trainFile.files[0].name;
    };

    renderModels(modelsApiUrl, iconUrls);
</script>

{% endblock content %}